{% extends  "__layout.twig" %}

{% block content %}

<h1>{{title}}</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
   <a class="nav-link  {{ type == 'image' ? 'active' }}" href="/{{page}}/image">Картинка</a>
    </li>
  <li class="nav-item ">
    <a class="nav-link {{ type == 'text' ? 'active' }}" href="/{{page}}/info">Описание</a>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    
{% block objectContent %}

{% endblock %}
</li>
</ul>
{% endblock %}


    
