{% macro btn(text, url, bool, mes) %}
    {% if mes is not empty %}
    <a href="{{ url }}" class="btn {{ bool ? mes  : 'btn-link' }} btn-{{mes}} {{ type == 'image' ? 'active' }}">
        {{ text }}
    </a>
    {% else %}
    <a href="{{ url }}" class="btn {{ bool ? mes  : 'btn-link' }} btn-primary {{ type == 'text' ? 'active' }} ">
        {{ text }}
    </a> 
    {% endif %}

{% endmacro %} 